section#media.section.section--press
  header.section__header.section__header--press
    h1.section__title CRF nos media

  div.press
    div.press-edicao
      h2.press-edicao__title 2018
      a(href="https://www.campeaoprovincias.pt/noticia/13-o-ceira-rock-fest-regressa-este-sabado", target="_blank") Campeão das Províncias
      p
        blockquote "O Ceira Rock Fest, criado em 2006 por um grupo de jovens e co-produzido pela ARMC, tem procurado “dinamizar o panorama cultural da região e promover a música moderna portuguesa”, revela a organização."

    div.press-edicao
      h2.press-edicao__title 2016
      a(href="http://www.festmag.com/2016/03/antevisao-rock-e-derivados-de-volta-a-ceira/", target="_blank") FestMag
      p
        blockquote "A caminho dos 30 anos, dispensam-se apresentações para uma das maiores referências do rock nacional dos anos 80: Peste &amp; Sida."


    div.press-edicao
      h2.press-edicao__title 2015
      a(href="https://www.youtube.com/watch?v=ybdqOK0xsIE", target="_blank") ESEC TV
      div
        iframe(
          width="560",
          height="315",
          src="https://www.youtube-nocookie.com/embed/ybdqOK0xsIE", title="YouTube video player",
          frameborder="0",
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",
          allowfullscreen
        )

    div.press-edicao
      h2.press-edicao__title 2014
      a(href="https://www.youtube.com/watch?v=ybdqOK0xsIE", target="_blank") Culturarte
      div
        iframe(
          width="560",
          height="315",
          src="https://www.youtube-nocookie.com/embed/PJ0daAyxxLE",title="YouTube video player",
          frameborder="0",
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",
          allowfullscreen
        )

    div.press-edicao
      h2.press-edicao__title 2013
      a(href="https://acertezadamusica.blogspot.com/2013/04/8-ceira-rock-fest-report.html", target="_blank") A Certeza da Música
      p
        blockquote "(...) o público de Coimbra a acompanhar “os seus” é outra loiça. Foi mosh do princípio ao fim e todas as letras sempre acompanhadas pela maioria. Crowdsurf do Afonso e malta a subir para o palco e desfrutar do que foi uma grande festa de rock."
